* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    /* background-color: yellowgreen; */
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(10px) ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}


.sidebar li{
    width: 100%;
   
}

.sidebar a{
    width: 100%;
}

.menu-button{
display: none;
}










.menu li a {
    display: inline;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: initial;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #FFA500;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;

}

.menu li a:hover {
    color: #FFA500;
}

.open-menu,
.close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}








.heading-one {
    font-size: 3vw;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span {
    font-weight: 400;
}

.home {
    color: orange;
}

.hovs:hover {
    color: #FFA500;
}

.menu-icon i {
    color: black;
    font-size: 2rem;
    display: none;
}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    text-decoration: none;
}

.login-border {
    border-right: 3px solid orange;
    padding: 1rem .5rem;
    font-weight: 600;
}

.sign-up {
    background-color: orange !important;
    /* padding: 10px 2rem; */
    border-radius: 5px;
    /* color: white; */
    /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.35); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}



.bg-image {
    margin: 0px;
    background-image: url(img/Group\ 17.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.heading-two {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.p-one {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.icons {
    font-size: 4rem;
    color: white;
    background-color: orange;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}




.slider {
    color: #8C8F95;
    text-align: center;
}

.slides {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.slides div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    flex: none;
}

.slides div p {
    transition: transform 0.5s;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slide-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.slides div p:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}












.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
    color: white;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);

}

#btnTwo {
    color: black;
}

.place {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.p-two {
    color: #8C8F95;
    line-height: 4vh;
}

.links:hover {
    background-color: #FFA500;
    color: white;
    padding: 10px 4rem;

}

.image-caption span {
    font-weight: bold;
    padding-left: 13.5rem;
}

.span-span {
    padding-left: 7rem !important;
}


.imgs {
    padding-left: 8rem !important;
}

.p-three {
    color: #8C8F95;
}



.div-three:hover {
    background-color: #FFA500;
    color: white !important;
    /* color: #E5E7FD; */
}

.div-diff {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}



.div-img {
    background-color: #FFA500;
}

.tailor {
    height: 60vh;
}

.sis {
    height: 88.5vh;
}

.sis-two {
    height: 70vh;
}

.p-four {
    background-color: #FFA500;
    color: white;
}

.div-four {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.last-div {
    border-top: 2px solid #8C8F95;
}

.h-footer {
    font-size: 2vw;
}

.s-footer {
    font-size: .8vw;
    color: #8C8F95;
}

.last-link {
    flex-direction: column;
}

.signup-page {}

.background {
    z-index: 0;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
}


.glass-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-align: center;
}

.background h1 {
    color: white;
    font-size: 3.5vw;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1 !important;
    margin-bottom: 2rem;
}

.label {
    margin: 1rem 0;
}

/* .label:hover {
    background-color: gray;
    color: white;
    width: 100%;
} */

input {
    width: 90%;
    height: 2.7rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #8C8F95;
    color: white !important;
    cursor: pointer;

}

::placeholder {
    padding-left: 1rem;
    color: white !important;
    font-size: 1vw;
    font-weight: 200;
}

.sign-button {
    padding: .7rem 13rem !important;
    background-color: #FFA500;
    border-radius: 5px;
    color: white !important;
}

.face-button {
    padding: .7rem 9rem !important;
}


.google-button {
    padding: .7rem 8.8rem !important;
}

.label-sign {
    margin: 1.5rem 0 !important;
}

.sign-button:hover {
    background-color: black;
    color: #8C8F95;
}

.login-sign {
    text-decoration: underline;
    color: white;
}



login {}



/* .hero-sect {
    background: linear-gradient(to bottom, #ffcccc, #FFA500);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
} */

.hero-sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 0;
}



.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    text-align: center;
}


.section-form {
    background-color: rgb(245, 221, 189);
    padding: 5rem !important;
    border-top-left-radius: 150px;
}

.input-log {
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 0px;
    cursor: pointer;
}

.user-div {
    z-index: 1 !important;
    position: absolute;
    bottom: 22rem !important;
    left: 11rem;
}

.user {
    font-size: 5rem;
}


.envelop {
    color: white;

}

.form-checkbox {
    cursor: pointer;
}

products {}

.products-content {
    position: relative;
    z-index: 1;
}

.sect-two {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






@media(max-width:1024px){
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
        }

}

@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


@media (max-width:816px) {

    .login-border {
        border-right: 0px solid orange;
        padding: 0rem;
        font-weight: 600;
    }

    .sign-up {
        background-color: orange;
        padding: 5px 1rem;
        border-radius: 5px;
        color: white;
        box-shadow: 0 2px 5px rgba(22, 22, 22, 0.35);
    }


}


@media (max-width:767px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .gallery {
        width: 400px;
        display: flex;
        overflow-x: scroll;
    }

    #backBtn,
    #nextBtn {
        width: 30px;
        cursor: pointer;
        margin: 20px;
    }

    .tailor {
        height: 30vh;
    }

    .sis {
        height: 30vh;
    }
    
    .sis-two {
        height: 30vh;
    }

}

@media  (min-width:601px)  and (max-width:700px) {
    .user-div {
        z-index: 1 !important;
        position: absolute;
        bottom: 26rem !important;
        left: 6rem !important;
        width: 8rem !important;
        height: 8rem !important;
        border-radius: 50% !important;
    }

    .Remember-Password {
        gap: 1rem !important;
        }
    
}




@media (max-width:400px) {
    .sign-button {
        padding: 5px 2rem !important;
        background-color: #FFA500;
        border-radius: 5px;
        color: white !important;
        font-size: .5vw !important;
    }

    .face-button {
        padding: 8px 1.5rem !important;
        font-size: 1vw !important;
    }


    .google-button {
        padding: 10px 2rem !important;
        font-size: .6vw !important;
    }


    .gallery {
        width: 300px;
        display: flex;
        overflow-x: scroll;
    }

    #backBtn,
    #nextBtn {
        width: 10px;
        cursor: pointer;
        margin: 5px;
        color: white;
    }

    .Enthusiast {
        gap:  5rem !important;
        font-size: 1vw !important;
    }

    .Enthusiast-div {
        padding: 1rem !important;
    }
    


@media (max-width:600px) {
    nav {
        padding: 1rem;
    }

    nav ul {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 1.5rem;
    }

    .menu-icon i {

        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }

    .links:hover {
        background-color: #FFA500;
        color: white;
        padding: 10px 8px !important;

    }

    .image-caption span {
        font-weight: bold;
        padding-left: 7rem;
    }

    .span-span {
        padding-left: 3rem !important;
    }

    .three {
        font-size: small;
    }

    .imgs {
        padding-left: 5rem !important;
    }

    .imgss {
        padding-left: 3rem !important;
    }

    .sign-button {
        padding: 8px 2.5rem !important;
        background-color: #FFA500;
        border-radius: 5px;
        color: white !important;
        font-size: 1vw !important;
    }

    .face-button {
        padding: 8px 1.5rem !important;
        font-size: 1vw !important;
    }


    .google-button {
        padding: 10px 2rem !important;
        font-size: .6vw !important;
    }


    .gallery {
        width: 300px;
        display: flex;
        overflow-x: scroll;
    }

    #backBtn,
    #nextBtn {
        width: 15px;
        cursor: pointer;
        margin: 5px;
    }

    .Remember {
        font-size: 1vw !important;
    }


    .section-form {
        padding: 3rem !important;
    }
    
    
    .user-div {
        z-index: 1 !important;
        position: absolute;
        bottom: 26rem !important;
        left: 7rem !important;
        width: 6rem !important;
        height: 6rem !important;
        border-radius: 50% !important;
    }
    
    .user {
        font-size: 3rem;
    }

    

    .Remember-Password {
    gap: 1rem !important;
    }


    .Enthusiast {
        /* gap: 1rem !important; */
        
    }

    .tailor {
        height: 15vh;
    }

    .sis {
        height: 20vh;
    }
    
    .sis-two {
        height: 20vh;
    }
    
    /* .cards {
        overflow-x: hidden !important;
    } */





}

@media (min-width: 768px) {
    .logo h1 {
        font-size: 28px;
    }

    ul li {
        margin-right: 20px;
    }
}



@media (max-width: 767px) {
    ul {
        display: none;
        text-align: center;
        padding-top: 10px;
    }

    ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* @media (max-width: 767px) {

    #menuItems,
    #userMenu {
        display: none;
        text-align: center;
        padding-top: 10px;
    }

    #menuToggle {
        display: block;
        text-align: center;
        padding-top: 10px;
    }

    ul li {
        display: block;
        margin-bottom: 10px;
    }
} */



@media (max-width: 1150px) and (min-width: 601px) {
    .sign-button {
        padding: 10px 5rem !important;
        background-color: #FFA500;
        border-radius: 5px;
        color: white !important;
        font-size: 1.5vw !important;
    }

    .face-button {
        padding: 10px 4rem !important;
        font-size: 1vw !important;
    }


    .google-button {
        padding: 10px 3rem !important;
        font-size: .6vw !important;
    }
}





@media (max-width: 955px) and (min-width: 768px) {

    .image-caption span {
        font-weight: bold;
        padding-left: 5rem;
    }

    .span-span {
        padding-left: 2rem !important;
    }

    .three {
        font-size: small;
    }

    .imgs {
        padding-left: 1rem !important;
    }

    .imgss {
        padding-left: 2rem !important;
    }

    
}

@media (max-width: 1150px) and (min-width: 768px) {
    .gallery {
        width: 600px;
        display: flex;
        overflow-x: scroll;
    }

    #backBtn,
    #nextBtn {
        width: 20px;
        cursor: pointer;
        margin: 10px;
    }
}


